---
import Layout from '../layouts/Layout.astro';
import ReceiptProcessor from '../components/ReceiptProcessor.vue';
---

<Layout title="Receipt Image Exporter">
	<main class="w-full max-w-md mx-auto min-h-screen bg-[#0f0f11] text-white">
		<ReceiptProcessor client:load />
	</main>
</Layout>
